@model StraussDa.ApplicationCore.Entities.Player

@{
    ViewData["Action"] = "Edit";
    ViewData["Title"] = "Edit a Telgram";
}

<h1>Edit</h1>

<h4>Player</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @Html.Partial("_EditPlayer", Model, ViewData)
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
